Flask_SQLAlchemy==2.4.3
Flask_Login==0.5.0
Flask_Mail==0.9.1
wtforms_validators==1.0.0
Flask==0.12.2
itsdangerous==0.24
WTForms==2.3.1
Flask_WTF==0.14.3
Flask_Bcrypt==0.7.1
Pillow==8.1.1
python-dotenv==0.13.0
gunicorn==19.7.1
bcrypt==3.1.4
blinker==1.4
certifi==2016.2.28
cffi==1.11.5
click==6.7
Flask-Bcrypt==0.7.1
pycparser==2.18
six==1.11.0
email-validator == 1.0.5

