{% extends "base.html" %}
{% block head %}
    <title>{{ title }}</title>
    <style>
    .reset-token-css{
    font-weight: bold;
    }
    .field-reset-css{
    width: 50%;
    margin-top: 7%;
    }
    .reset-btn-css{
    background-color:#c70039;
    }
    #img-reset{
    width: 30%;
    margin-left: 34%;
    margin-top: 5%;
    }
    @media only screen and (max-width: 600px)
    {
    .field-reset-css{
    width: 90%;
    margin-top: 10%;
    }
    #img-reset
    {
    width: 40%;
    margin-top: 20%;
    }
    .reset-btn-css{
    width: 50%;
    }
    }
    </style>
{% endblock %}
{% block content %}
    <div class="content-section reset-token-css" >
        <img id="img-reset" src="/static/resettoken.png" >
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <fieldset class="container-fluid field-reset-css">
                
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>
                {{ form.submit(class="btn btn-outline-info reset-btn-css") }}
            </fieldset>
            
        </form>
    </div>
{% endblock content %}